<div class="container text-center mt-5">
  <div class="row">
    <%= render "users/user_info" %>
    <div class="col">
      <div class="row row-cols-2 pb-3">
        <div class="col-1">
          <div class="d-grid">
            <%= link_to "â†", user_path(current_user), class: "btn btn-primary py-3 text-start" %>
          </div>
        </div>
        <div class="col-11">
          <div class="d-grid">
            <button class="btn btn-primary py-3 text-start">
              <div class="row row-cols-2">
                <div class="col-8 text-start"><%= @bank_account.name %> - <%= @bank_account.iban %></div>
                <div class="col-4 text-end"><%= humanized_money_with_symbol @bank_account.balance %></div>
              </div>
            </button>
          </div>
        </div>
      </div>
      <%= render 'filters' %>
      <ul class="list-group">
        <% if @transactions.blank? %>
          <div class="container text-center">
            <h1 class="pt-4">There are no transactions to show here yet</h1>
          </div>
        <% end %>
        <% @transactions.each do |transaction| %>
          <% if @bank_account.iban == transaction.iban_to %>
            <%= render partial: 'transaction', locals: { transaction: transaction, transaction_type: 'incoming' } %>
          <% else %>
            <%= render partial: 'transaction', locals: { transaction: transaction, transaction_type: 'outgoing' } %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
